<%- include('topo'); -%>
<main role="main" class="inner cover">
    Estamos no meio de dezembro e é bem provável que, 
    durante as próximas duas semanas que se aproximam, 
    você tenha algum amigo-secreto marcado na agenda da firma,
     família, amigos.<br><br>
    É possível fazer uma consulta nesta página para escolher o melhor 
    presente para o seu amigo secreto.<br>
    </main>
<%- include('rodape'); -%>