<%- include('topo'); -%>

<main role="main" class="inner cover">
  <h1 class="cover-heading"> AMIGO SECRETO ONLINE.</h1>
  <p class="lead">O amigo secreto é um sorteio realizado entre amigos e familiares onde cada participante tira um amigo
    no sorteio </p>
  <p class="lead">
  </p>
</main>

<%- include('rodape'); -%>