<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Vamos curtir um Natal diferente.</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand"> UM NATAL DIFERENTE</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active " href="/">Bem Vindo</a>
              <a class="nav-link active " href="/Presentes"> Presentes</a>
              <a class="nav-link active " href="/Utilidades">Utilidades</a>
            </nav>
          </div>
        </header>