<%- include('topo'); -%>
<main role="main" class="inner cover">
    Pesquise com uma pessoa mais próxima do seu amigo secreto seus gostos,
    desejos, rotina e os hobbies.<br><br>
    A maneira mais fácil de acertar no presente de alguém
    é tentar se colocar no do lugar do outro.<br><br>
    Perfumes e roupas, na maioria dos casos, devem ser evitados.<br><br>
    Um boa dica é apostar em itens de decoração.<br><br>
    <a href="https://gifwe.com/" target="_blank">"Crie o sorteio de amigo secreto online grátis."</a><br><br>
    <a href="https://www.sorteioamigosecreto.com/" target="_blank">"Sorteio Amigo Secreto Online."</a>
</main>

<%- include('rodape'); -%>